<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="org.sb.event.mapper.EventMapper">
		<sql id="page">
		<trim prefix="(" suffix=") AND">
			<foreach collection="typeArr" item="type" separator="OR">
				<if test="type=='T'.toString()">
					title like '%'||#{keyword}||'%'
				</if>
				<if test="type=='C'.toString()">
					content like '%'||#{keyword}||'%'
				</if>
			</foreach>
			</trim>
		</sql>
	
		<!-- <select id="getList" resultType="org.sb.event.domain.EventVO">
			select * from event
		</select> -->
		
		<select id="getList" resultType="org.sb.event.domain.EventVO">
			<![CDATA[
			select * from
				(
				select /*+ INDEX_DESC(event pk_event) */ rownum rn, event_no, event_title, event_start, event_end, event_image 
				from event 
				where
				]]>
				<include refid="page"></include>
				<![CDATA[
				event_no > 0 and rownum > 0 and rownum <= (#{pageNum} * #{amount})
				)
			where rn > (#{pageNum}-1) * #{amount}
	 		]]>
		</select>
		
		<insert id="insert">
			insert into event(event_no, event_title, event_info, event_start, event_end, event_image) 
			values (seq_event.nextval, #{event_title}, #{event_info}, #{event_start}, #{event_end}, #{event_image})
		</insert>
		
		<delete id="delete">
			delete from event where event_no = #{event_no}
		</delete>
		
		<update id="modify">
			update event 
			set event_title = #{event_title}, 
			event_info = #{event_info}, 
			event_start = #{event_start}, 
			event_end = #{event_end}, 
			event_fileid = #{event_image}
			where event_no = #{event_no}
		</update>
		
		<select id="getTotal" resultType="int">
			select count(event_no) from event where <include refid="page"></include> event_no > 0
		</select>
		
		<select id="read" resultType="org.sb.event.domain.EventVO">
			select*from event where event_no = #{event_no}
		</select>
	</mapper>